<?xml version="1.0" encoding="UTF-8"?>
<web-app id="SistemaDeReservas" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>Sistema de Reservas</display-name>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>/index.do</welcome-file>
	</welcome-file-list>
	
	<listener>
		<listener-class>br.com.grupo9.sistemadereservas.controle.Util.SessionListener</listener-class>
	</listener>
	<filter>
		<filter-name>PageFilter</filter-name>
		<filter-class>br.com.grupo9.sistemadereservas.controle.Util.PageFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>br.com.grupo9.sistemadereservas.controle.Util.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/gerenciar_clientes.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/gerenciar_funcionarios.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/gerenciar_horarios.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/gerenciar_mesas.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/gerenciar_promocoes.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/relatorios.do</url-pattern>
	</filter-mapping>
</web-app>
