/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/04/2017, 17:34:19
    Author     : Thallyelson
*/

.bg-sdk{}

.logo{
  background: url(../img/LogoG9.svg), no-repeat, center;
  background-size: 100% 100%;
  height: 100%;
  width: 6em;
  
}
.promo1{
  background: url(../img/promo1.jpg), no-repeat, center;
  background-size: 100% 100%;
}
.promo2{
  background: url(../img/promo2.jpg), no-repeat, center;
  background-size: 100% 100%;
}
.promo3{
  background: url(../img/promo3.jpg), no-repeat, center;
  background-size: 100% 100%;
}
.container-text{
  width: 100%;
  background: rgba(0,0,0,0.3);
}
.container-text h2,h4,p{
  color: white; 
  text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
}
